Django==1.6.5
South==0.8.4
decorator==3.4.0
django-adminactions==0.4
django-auth-ldap==1.2.0
django-dajax==0.9.2
django-dajaxice==0.6
django-icons-famfamfam==0.2-1
ecdsa==0.11
paramiko==1.14.0
scp==0.8.0
scpclient==0.5
sh==1.09
unicodecsv==0.9.4
xlrd==0.9.3
xlwt==0.7.5
