{% extends 'configmaster/app_base.html' %}

{% block app_name %}Dashboard{% endblock %}

{% load icons %}
{% load humanize %}
{% load admin_urls %}

{% block content %}

    <script type="text/javascript">
        $(document).ready(function () {
                    $(".action").tooltip();
                }
        )
    </script>

    <table class="table">
        <tr>
            <th>Group</th>
            <th>Label</th>
            <th>Name</th>
            <th>Status</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {% for device in object_list %}
            <tr>
                <td>{{ device.group }}</td>
                <td>{{ device.label }}</td>
                <td>{{ device.name }}</td>
                {% with device.report_set.latest as report %}
                    <td>
                        {% if not device.is_enabled %}
                            {% icon 'cog' %} Disabled
                        {% elif not report %}
                            {% icon 'error' %} No report found
                        {% elif report.result_is_success %}
                            {% icon 'tick' %} {{ report.output }}
                        {% else %}
                            {% icon 'cancel' %}
                            {{ report.output | truncatechars:60 }}
                        {% endif %}
                    </td>
                    <td>
                        {{ report.date | naturaltime }}
                    </td>
                    <td>
                        <div class="actions">
                            <a class="action" data-toggle="tooltip" title="Edit device" target="_blank"
                               href="{% url "admin:configmaster_device_change" device.id %}">
                                {% icon "wrench" %}
                            </a>
                            {% if report %}
                                <a class="action" data-toggle="tooltip" title="View report" target="_blank"
                                   href="{% url "admin:configmaster_report_change" report.id %}">
                                {% icon "page_white_text" %}
                            {% else %}
                                <a>{% icon "page_white" classes="img_disabled" %}
                            {% endif %}
                            </a>
                            {% if device.is_enabled %}
                                <a class="action" data-toggle="tooltip" title="Run now">
                                {% icon "cog" classes="img_disabled" %}
                            {% else %}
                                <a>
                                {% icon "cog" classes="img_disabled" %}
                            {% endif %}
                            </a>
                            <a class="action" data-toggle="tooltip" title="AssetDB lookup"
                               href="{{ device.asset_db_url }}" target="_blank">{% icon "database_go" %}</a>
                            <a class="action" data-toggle="tooltip" title="PWSafe lookup"
                               href="{{ device.pwsafe_url }}" target="_blank">{% icon "key_go" %}</a>
                        </div>
                    </td>
                {% endwith %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}