{% extends 'configmaster/app_base.html' %}

{% load staticfiles %}

{% block app_name %}Dashboard{% endblock %}

{% block content %}

    {% if hidden_devices %}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ hidden_devices }} inactive devices have been hidden from this view.
                A device is considered inactive if there aren't any reports.

                You can access these devices from the admin panel or manually
                run a config backup using "manage.py run" on the command line
                (see documentation).
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        $(document).ready(function () {
                    $(".action").tooltip();
                }
        );

        function manual_run(label, task_id) {
            var row_id = "#device-" + label + '-task-' + task_id;
            $(row_id+ " .manual_run")[0].src = '{% static "media/ajax-loader.gif" %}';
            $.post("{% url "dashboard_run_task" %}", {
                device: label,
                task: task_id,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            }, function (data) {
                $(row_id).replaceWith(data);
                $(row_id + " .action").tooltip();
            }).error(function(){
                $(row_id+ " .manual_run")[0].src = '{% static "icons/cancel.png" %}';
            });
        }
    </script>

    <table class="table">
        <tr>
            <th>Group</th>
            <th>Label</th>
            <th>Name</th>
            <th>Status</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {% for device in object_list %}
            {% for report in device.latest_reports_fallback %}
                {% with forloop.counter0 as additional_task %}
                    {% include "configmaster/dashboard_row.html" %}
                {% endwith %}
            {% endfor %}
        {% endfor %}
    </table>

{% endblock %}