/* Commons ------------------------------- */

.logo {
    padding-top: 3px;
    padding-right: 30px;
}

body {
    padding: 30px;
}

.navbar {
    margin-bottom: 30px;
}

.debugnotice {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 20px;
    color: #CCCCCC;
}

.actions a {
    text-decoration: none !important;
}

.img_disabled {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2;
}



