{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'ConfigMaster' %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        (function($) {
            $(window).load(function(){ $('#id_password').prop('autocomplete', 'off'); });
        })(grp.jQuery);
    </script>
{% endblock %}

{% block branding %}
    <style type="text/css">
        #header {
            /* your style here */
        }

        .description {
            color: #999999;
            overflow: hidden;
            padding: 8px 12px;
            font-size: 11px;
            border-bottom: 1px solid #eee;
        }

    </style>
    <h1 id="site-name">{% trans 'ConfigMaster' %} <a href="/" style="font-size: 10px">(Back to
        frontend)</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}